.about-us-container {
    @include position(center, center, column, 0);
    @include fontSpec(FuturaPTBold, 10px, 0.5px);
    border-top: 2px solid $gray-border-color;
    padding-top: 17px;
    padding-bottom: 20px;
    label {
        padding-top: 3px;
    }
}
