.option-bar-container {
    @include position(center, center, row, 0);
    @include fontSpec(FuturaPTBook, 14px, 0.3px);
    border-top: 2px solid $gray-border-color;
    label {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        img {
            width: 14px;
        }
        span {
            padding-left: 5px;
        }
        i {
            font-size: 14px;
            line-height: 6px;
            height: 10px;
            vertical-align: bottom;
        }
    }
}
