.social-media-container {
    border-top: 2px solid #f6f6f6;
    // @include position(center, center, row, 0);
    padding-left: 15px;
    padding-right: 15px;
    div {
        border: 2px solid #193359;
        height: 30px;
        display: inline-block;
        width: 100%;
        input[type=text] {
            width: 65%;
            box-sizing: border-box;
            display: inline-block;
            height: inherit;
            padding-left: 5px;
        }
        input[type=text]::placeholder {
            font-family: OPTIKiteLight;
            font-size: 12px;
            font-style: italic;
            color: #a6a6a6;
        } 
        input[type=text]:-ms-input-placeholder {
            font-family: OPTIKiteLight;
            font-size: 12px;
            font-style: italic;
            color: #a6a6a6;
        } 
        input[type=text]::-ms-input-placeholder {
            font-family: OPTIKiteLight;
            font-size: 12px;
            font-style: italic;
            color: #a6a6a6;
        }
        span {
            box-sizing: border-box;
            display: inline-block;
            color: rgba(255, 255, 255, 0.8);
            background-color: #193359;
            vertical-align: top;
            height: inherit;
            // line-height: inherit;
            // padding-top: 50%;
            width: 35%;
            // padding-top: 7px;
            // padding-bottom: 7px;
            // border: 1px solid red;
            span {
                display: grid;
                align-items: center;
                width: 100%;
                text-align: center;
                // display: inline-block;
                // height: 17px;
                // border: 1px solid white;
                // vertical-align: middle;
            }
        }
    }

}