@mixin position($justifyContent, $alignItems, $row, $padding: 10px) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-direction: $row;
    padding: $padding;
}

@mixin fontSpec($font, $size, $spacing: 1px) {
    font-family: $font;
    font-size: $size;
    letter-spacing: $spacing;
}

@mixin element-color($color) {
    background-color: $color;
    -webkit-mask-image: url(../icons/briefcase-icon.svg);
    mask-image: url(../icons/briefcase-icon.svg);
}
