$gray-border-color: #f6f6f6;
$gray-input-text-color: #a6a6a6;
$gray-footer-text: #a2a2a2;
$gray-social-media-icon: #bebebe;
$blue-background-color: #1a3459;
$dark-blue-background-color: #132747;
$white-text-transparency: rgba(255, 255, 255, 0.85);
$white-option-menu-text-transparency: rgba(255, 255, 255, 0.7);
$white-unselected-option-menu-text-transparency: rgba(255, 255, 255, 0.15);
$white-bottom-border-transparency: rgba($color: #f6f6f6, $alpha: 0.2);
