@import './init/reset';
@import './fonts/fonts';
@import './helpers/variables';
@import './helpers/mixins';
@import './components/header/header';
@import './components/main/index';
@import './components/footer/index';

body {
    @include fontSpec(FuturaPTBold, 12px, 0);
    margin-top: 75px;
}

input:focus {
    outline: none;
}
