@import './init/reset';
@import './fonts/fonts';
@import './helpers/variables';
@import './helpers/mixins';
@import './components/header/header';
@import './components/main/index';
@import './components/footer/index';

body {
    font-family: CoreSansGExtraBold;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 80px;
}

input:focus {
    outline: none;
}
