@font-face {
    font-family: OPTIKiteLight;
    src: url(../fonts/OPTIKiteLight.otf);
}

@font-face {
    font-family: CoreSansGExtraBold;
    src: url(../fonts/CoreSansGExtraBold.otf);
}

@font-face {
    font-family: CoreSansGLight;
    src: url(../fonts/CoreSansGLight.otf);
}
