@font-face {
    font-family: FuturaPTLight;
    src: url(../fonts/FuturaPTLight.otf);
}

@font-face {
    font-family: FuturaPTMedium;
    src: url(../fonts/FuturaPTMedium.otf);
}

@font-face {
    font-family: FuturaPTDemi;
    src: url(../fonts/FuturaPTDemi.otf);
}

@font-face {
    font-family: FuturaPTExtraBold;
    src: url(../fonts/FuturaPTExtraBold.otf);
}

@font-face {
    font-family: FuturaPTBold;
    src: url(../fonts/FuturaPTBold.otf);
}

@font-face {
    font-family: FuturaPTBook;
    src: url(../fonts/FuturaPTBook.otf);
}
