@import '../../helpers/mixins';

.top-headline {
    @include position(space-between, center, row);
    font-weight: bold;
}

.eton-headline-text {
    @include fontSpec(OPTIKiteLight, 19px, 3px);
}

.shopping-basket-headline-text {
    @include position(space-between, flex-end, row, 0);
    @include fontSpec(CoreSansGLight, 12px);
    line-height: 9px;
}

.menu-headline {
    @include position(space-between, center, row);
}

#navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    // overflow: hidden;
    background-color: white;
}
