.main-collection-container {
    @include position(space-between, center, column, 0);
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 18px;
    img {
        width: 100%;
    }
    .main-collection-title {
        @include fontSpec(FuturaPTDemi, 16px);
        padding-top: 10px;
    }
    .main-collection-info {
        @include fontSpec(Garamond, 11px);
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.6px;
        line-height: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
    }
}
