.main-top-container {
    @include position(space-between, center, column, 0);
    margin-bottom: 35px;
    img {
        width: 100%;
    }
    .main-top-title {
        @include fontSpec(CoreSansGExtraBold, 16px);
        padding: 15px;
    }
    .main-top-info {
        @include fontSpec(OPTIKiteLight, 11px);
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-top-button {
        @include fontSpec(CoreSansGExtraBold, 12px);
        color: $white-text-transparency;
        background-color: $blue-background-color;
        margin-top: 20px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
