.shirt-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 8px;
    padding-right: 8px;
    div {
        flex: 0 50%;
        text-align: center;
        padding: 8px;
        box-sizing: border-box;
        img {
            width: 100%;
        }
        label {
            font-size: 10px;
            display: flex;
            text-align: left;
        }
        .shirt-fit-price {
            @include fontSpec(CoreSansGLight, 9px);
            padding-top: 2px;
        }
    }
}
